@import "colors.css";

#audio {
  margin: 4px 5px;
  padding: 6px 20px;
  background-color: @container;
  border-radius: 20px;
  color: @text;
}

#pulseaudio {
  margin-right: 8px;
  margin-left: 8px;
}

#pulseaudio-slider {
  margin: 4px 5px;
  padding: 0 2px;
  background-color: transparent;
  border-radius: 20px;
}

#pulseaudio-slider trough {
  min-height: 10px;
  min-width: 80px;
  border-radius: 10px;
  background-color: @text;
}

#pulseaudio-slider highlight {
  min-height: 10px;
  border-radius: 10px;
  background-color: yellow;
}

#pulseaudio-slider slider {
  min-height: 12px;
  min-width: 12px;
  margin: -2px 0;
  border-radius: 100%;
}


