@import "colors.css";

#power {
  margin: 4px 5px;
  padding: 6px 20px;
  background-color: @container;
  border-radius: 20px;
  color: @text;
}

#backlight {
  margin: 4px 4px;
  padding: 0 6px 0 6px;
}

#battery {
  padding: 0px 4px;
}

#backlight-slider {
  margin: 4px 5px;
  padding: 0 2px;
  background-color: transparent;
  border-radius: 20px;
}

#backlight-slider trough {
  min-height: 10px;
  min-width: 80px;
  border-radius: 10px;
  background-color: @text;
}

#backlight-slider highlight {
  min-height: 10px;
  border-radius: 10px;
  background-color: yellow;
}

#backlight-slider slider {
  min-height: 12px;
  min-width: 12px;
  margin: -2px 0;
  border-radius: 100%;
}



